---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - entries
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: "Tag: {{ tag }}"
permalink: /tags/{{ tag }}/
---

<h1>Tag: {{ tag }}</h1>

<ul>
{% set taglist = collections[ tag ] %}
{% for entry in taglist | sort(attribute="data.title") %}
  <li><a href="{{ entry.url | relative(page) }}">{{ entry.data.title }}</a></li>
{% endfor %}
</ul>
